
/* body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
} */

.body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 90%;
    margin: 15px 15px 15px 37px;
    background-color: #e9d7d3;
    padding: 20px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 7px black;
}

.center-heading {
    text-align: center;
}

.center-heading-bold {
    
    font-weight: bold;
}

.definition,
.use-website,
.content,
.orders,
.returns-refunds {
    margin-bottom: 20px;
}
